.scroll__container {
    border: none;
    overflow: hidden;
  }

  .scroll__row  {
      display: flex;
      justify-content: space-between;
  }

  .scroll__text {
      padding: 0px 20px;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    color: var(--white);
    font-family: 'Audiowide';
    text-transform: uppercase;
    font-size: 79px;
    line-height: 88px;
    -moz-animation: scroll-animation 10s linear infinite;
    -webkit-animation: scroll-animation 10s linear infinite;
    animation: scroll-animation 10s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes scroll-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes scroll-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes scroll-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }