/*normalize css*/
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  /*--------------------------*/

:root{
    --black-main: #181818;
    --black-regular: #000000;
    --white: #FFFFFF;
    --green: #8DFD1B;
    --green-darker: rgba(121, 215, 26, 0.604);
    --grey: #A8A8A8;
    --grey-darker: #222222;
    --light-grey: #C4C4C4;
    --purple: #42006A;
}
  
body{
    height: 100%;
    font-family: 'DM Mono', monospace;
    font-weight: 400;
    background-color: var(--black-regular);
    /* font-family: 'Audiowide', cursive;
    font-family: 'Inter', sans-serif; */
}

/* .wrapper {} */

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 10px;
}
.header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 50;
    
}
.header:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: var(--black-main);
    z-index: 2;
}
.header__body {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    flex: 0 0 85px;
    /* border-radius: 50%; */
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.header__logo img{
    max-width: 100%;
    display: block;

}

.header__burger {
    display: none;
}

.header__menu-wrapper{
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
}

.header__menu {}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li{
    list-style: none;
    margin: 0px 0px 0px 20px;
}

.header__link {
    display: block;
    text-transform: capitalize;
    font-size: 16px;
    text-decoration: none;
    color: var(--white);
}

.header__link:hover {
    text-decoration: underline;
}

.header__link:active {
    color: var(--green);
}

.header__link:focus {
    outline: 2px solid var(--green);
    color: var(--green);
}

.header__socials{

} 
.header__socials-list{
    display: flex;
    position: relative;
    z-index: 2;
} 

.header__socials-list li{
    list-style: none;
    margin: 0px 0px 0px 20px;
}
.header__socials-link {
    display: flex;
    padding: 7px;
    background-color: var(--white);
    color: var(--white);
    transition: all 0.3s ease 0s;
}

.header__socials-link:hover {
    background-color: var(--light-grey);
    transform: scale(1.1);
}

.header__socials-link:active {
    transform: scale(0.9);
    transition: all 0.3s ease 0s;
}

.header__socials-link:focus {
    background-color: var(--green);   
}

.header__socials-link img{
    flex: 0 0 20px;
    height: 20px;
}

.main {
    overflow: hidden;
    padding: 110px 0px 0px 0px;
}

.record {
    overflow: hidden;
    padding: 0px 0px 80px 0px;
}
.record__content {
    flex: 0 0 100%;
}
.record__container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
    display: flex;
    align-items: center;

}
.record__body {
    width: 100%;
    padding: 50px 10px 50px 10px;
}

.title {
    color: var(--white);
    font-family: 'Audiowide', cursive;
}

.record__title {
    font-size: 51px;
    line-height: 61px;
    margin-bottom: 43px;
}

.regular-text {
    color: var(--white);
    font-family: 'Inter', sans-serif;
}

.record__text {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 115px;
}
.record__btn {
    display: inline-block;
    color: var(--black-regular);
    background-color: var(--green);
    font-size: 16px;
    line-height: 16px;
    padding: 17px 40px 18px;
    transition: all 0.3s ease 0s;
}

.record__btn:hover {
    background-color: var(--white);
    transform: scale(1.1);
}

.record__btn:active {
    transform: scale(0.9);
    transition: all 0.3s ease 0s;
}

.record__btn:focus {
    background-color: var(--grey);    
}

.record__image {

}

.record__image img {
    max-width: 100%;
}

.wave {
    margin-bottom: 127px;
}

.wave__block {
    margin-bottom: 113px;

}
.wave__row {
    display: flex;
    flex-direction: row;
    margin: 0px -20px;
}
.wave__image {
    flex: 0 1 40%;
    padding: 0px 20px;
} 
.wave__title {
    text-transform: uppercase;
    font-size: 38px;
    line-height: 45px;
}
.wave__subtitle {
    color: var(--grey);
    text-transform: uppercase;
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 41px;
}

.wave__image-box img {
    max-width: 100%;
    height: auto;
}
.wave__content {
    flex: 0 1 60%;
    padding: 0px 20px;
}
.wave__content-extra {
    display: block;
    padding: 0px 0px 0px 22px;
    border-left: 2px solid var(--green);
    margin-bottom: 27px;
}
.extra-text {
    color: var(--green);
    font-size: 21px;
    line-height: 32px;
}
.wave__content-main {
    overflow: hidden;
    margin-bottom: 18px;

}

.wave__text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 18px;

}
.wave__content-footer {

}

.wave__btn {
    display: inline-block;
    padding: 10px 33px 11px;
    color: var(--white);
    font-size: 16px;
    line-height: 16px;
    border: 1px solid var(--green);
    transition: all 0.3s ease 0s;
}

.wave__btn:hover {
    background-color: var(--white);
    color: var(--black-regular);
    transform: scale(1.1);
}

.wave__btn:active {
    transform: scale(0.9);
    transition: all 0.3s ease 0s;
}

.wave__btn:focus {
    background-color: var(--grey);
    color: var(--black-regular);
    border: none;
}

  /* Scroll text  */

.scroll__container{
    background-color: transparent;
    color:var(--white);
    font-family: helvetica;
    text-transform: uppercase;
    overflow-x: hidden;
}    
    
.scroll__wrapper{
    display:flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
}

.news-message{
    display : flex;
    flex-shrink: 0;
    min-height: 50px;
    align-items: center;
    overflow: hidden;
    -moz-animation: slide-left 30s linear infinite;
    -webkit-animation: slide-left 30s linear infinite;
    animation: slide-left 30s linear infinite;
    
}

.scroll__text{
    color: var(--white);
    font-family: 'Audiowide';
    text-transform: uppercase;
    font-size: 79px;
    line-height: 88px;
    padding-left: 0.5em;
}

@keyframes slide-left {
    from {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

  /* ____________ */

  .artists {
      margin-bottom: 90px;

  } 
  .artists__block {

  }
  .artists__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px -30px; 
  }
  .artists__col {
    flex: 1;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  .artists__image {
      flex: 0 1 245px;
      height: auto;
      margin-bottom: 20px;
  }

  .artists-text {
      line-height: 24px;
  }

  .story {
    margin: 0px 0px 118px;
  }

.story__heading {
    display: flex;
    justify-content: center;
    margin-bottom: 61px;
}
 
.story__title {
    display: inline-block;
    font-size: 37px;
    line-height: 45px;
}

.story__title span {
    color: var(--grey);
    font-size: 37px;
    line-height: 45px;
    text-transform: uppercase;
}

/* Vertical tabs */

.tabs-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 120px;
}

.tabs-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 9fr;
    box-shadow: 0px 20px 40px rgba(0,0, 0, 0.2);
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
}

.tab-btn {
    height: 33.333%;
    font-size: 16px;
    line-height: 16px;
    display: grid;
    place-items: center;
    cursor: pointer;
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 10px;
}

.tab-content {
    background-color: var(--grey-darker);
    padding: 30px 20px 30px 20px;
}
 
.tab-option__row {
    display: flex;
    margin: 0px -20px;
}

.tab-option__image {
    flex: 0 0 25%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.tab-option__image img {
    max-width: 100%;
    height: auto;
}

.tab-option__content {
    flex: 0 1 auto;
    padding: 0px 20px;
} 

.tab-option {
    display: none;
}

.tab-content ._tab-active {
    display: block;
}

.tabs ._tab-active {
    background-color: var(--grey-darker);
    color: var(--green);
}
/* ----------------- */

.story__footer {
}

.story__footer-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.roadmap {
    position: relative;
    margin: -200px 0px 0px;
    padding: 200px 0px 0px;
    background-image: url(../image/circle.svg), url(../image/circle.svg), url(../image/circle.svg);
    background-repeat: no-repeat;
    background-position: 12% 85%, 86% 34%, 11% 0%;
    background-size: 672px;
    z-index: 3;

}

.roadmap__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 30px;
}

.roadmap__title {
    font-size: 38px;
    line-height: 45px;
    text-align: center;
} 

.roadmap__body {

}

.roadmap__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.roadmap__col {
    flex: 0 1 33.333%;
    border: 1px solid var(--green);
    background-color: var(--grey-darker);
    position: relative;
    margin: 70px 0px;
    z-index: 3;
}

.roadmap__col:not(:last-child):before {
    content: '';
    position: absolute;
    background-color: var(--green);
    bottom: -70px;
    left: 45%;
    height: 1px;
    width: 40px;
    transform: rotate(90deg);
}

.roadmap__col-heading {
    display: flex;
    padding: 13px;
    border-bottom: 1px solid var(--green);
} 

.roadmap__col-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: var(--green);
    margin: 0px 12px 0px 0px;
}

.roadmap__col-box span {
    color: var(--black-regular);
    font-size: 28px;
    line-height: 28px;
}

.roadmap__col-info {
    display: flex;
    flex-direction: column;
    align-items:baseline;
}

.roadmap__col-info-green-span {
    color: var(--green);
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 1px;
    text-align: left;
}

.roadmap__col-info-big-span {
    color: var(--white);
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
}

.roadmap__col-body {
    display: flex;
    justify-content: space-between;
    padding: 30px 13px 41px;
    margin: 0px -40px;
}

.roadmap__col-content {
    flex: 0 1 66.666%;
    margin: 0px 10px 0px 0px;
    padding: 0px 40px;

}

.roadmap__col-supcontent {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 12px 22px;
}

.roadmap__col-supcontent-span {
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    line-height: 32px;
    text-align: left;

}

.roadmap__col-subcontent {

}

.roadmap__col-subcontent-text {
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    line-height: 26px;
    text-align: left;
    max-width: 298px;

}

.roadmap__col-image {
    flex: 0 1 33.333%;
    padding: 0px 40px;
}

.roadmap__col-image img{
    display: block;
    width: 100%;
    height: auto;
    border: none;
    border-radius: 10%;
}

.roadmap__footer {
    margin-top: 120px;

}
.roadmap__heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roadmap__heading-title {
    color: var(--green);
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.questions {
    margin-top: 170px;
}

.questions__block {
    margin: 0px 0px 108px;
}

.questions__row {
    display: flex;
    flex-direction: row;
    margin: 0px -20px;
}

.questions__content {
    flex: 0 1 50%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.questions__title {
    font-family: 'Audiowide', cursive;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    margin: 0px 0px 51px;
}

.questions__title span {
    color: var(--grey);
}
 
.questions__image {

}

.questions__image img {
    display: block;
    width: 100%;
    height: auto;
}

/* Spoiler */
.questions__spoiler {
    flex: 0 1 50%;
    padding: 0px 20px;
}

.spoiler-wrapper {
    background-color: var(--grey-darker);
    padding: 24px 31px;

}

.spoiler-block {
    
}

.spoiler-block__item {
    margin: 0px 0px 20px 0px;
}

.spoiler-block__title {
    color: var(--white);
    position: relative;
    padding: 0px 0px 0px 30px;
    margin: 0px 0px 26px 0px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
}

.spoiler-block__title::before,
.spoiler-block__title::after {
    content: '';
    width: 10px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
}

.spoiler-block__title::before {
    transform: rotate(40deg);
    left: 0px;
    transition: all 0.5s ease 0s;
}

.spoiler-block__title::after {
    transform: rotate(-40deg);
    left: 8px;
    transition: all 0.5s ease 0s;
}

.spoiler-block__title.active::before,
.spoiler-block__title.active::after {
    background-color: var(--green);
}

.spoiler-block__title.active::before {
    transform: rotate(-40deg);
    transition: all 0.5s ease 0s;
}

.spoiler-block__title.active::after {
    transform: rotate(40deg);
    transition: all 0.5s ease 0s;
}

.spoiler-block__text {
    display: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 24px 0px;
    color: var(--light-grey);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 19px;
}

/* ----------------- */

.team {
    margin: 129px 0px 0px;
}

.team__block {

}

.team__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px -50px;
}

.team__col {
    flex: 1;
    padding: 0px 50px;
}

.team__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team__card-image {
    margin: 0px 0px 19px;
}

.team__card-image img {
    display: block;
    width: 100%;
    height: auto;
}

.team__card-content {

}

.team__suptitle {
    color: var(--white);
    font-size: 21px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0px 0px 18px;
}

.team__subtitle {
    color: var(--green);
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0px 0px 22px;
}

.team__card-socials {
    display: flex;
    justify-content: center;
}

.team__socials-list{
    display: flex;
    margin: 0px 0px 22px;
} 

.team__socials-list li{
    list-style: none;
    margin: 0px 10px 0px 10px;
}
.team__socials-link {
    display: flex;
    padding: 7px;
    background-color: var(--white);
    color: var(--white);
    transition: all 0.3s ease 0s;
}

.team__socials-link:hover {
    background-color: var(--light-grey);
    transform: scale(1.1);
}

.team__socials-link:active {
    transform: scale(0.9);
    transition: all 0.3s ease 0s;
}

.team__socials-link:focus {
    background-color: var(--green);
    
}

.team__socials-link img{
    flex: 0 0 20px;
    height: 20px;
}

.team__text {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
}

.discord {
    margin: 120px 0px;

}

.discord__block {

}

.discord__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px -50px;

}

.discord__content {
    flex: 0 1 50%;
    padding: 0px 50px;
    text-align: left;
    align-self: center;
    max-width: 345px;
}
 
.discord__title {
    font-size: 51px;
    line-height: 61px;
    text-transform: uppercase;
    
    margin: 0px 0px 34px 0px;
}

.discord__title span {
    color: var(--green);
}


.discord__text {
    font-size: 16px;
    line-height: 26px;
    margin: 0px 0px 34px 0px;
}

.discord__btn {
    display: inline-block;
    padding: 13px 30px 14px 60px;
    background-color: var(--green);
    background-image:url(../image/socials02.png);
    background-repeat: no-repeat;
    background-position: 13% 50%;
    background-size: 20px;
    transition: all 0.3s ease 0s;
}

.discord__btn:hover {
    background-color: var(--white);
    transform: scale(1.1);
}

.discord__btn:active {
    transform: scale(0.9);
    transition: all 0.3s ease 0s;
}

.discord__btn:focus {
    background-color: var(--grey);    
}

.discord__btn span {
    color: var(--black-regular);
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}

.discord__image {
    flex: 0 1 50%;
    padding: 0px 50px;
}

.footer {
    background-color: var(--purple);
    padding: 70px 0px 80px;
    overflow: hidden;
}
 
.footer__block {

}

.footer__row {
    display: flex;
    flex-direction: row;
    margin: 0 -20px;
}

.footer__content {
    flex: 0 1 80%;
    padding: 0 20px;
}

.footer__content-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0px -20px;
}

.footer__content-col {
    flex: 0 1 auto;
    margin: 0px 20px;
}

.footer__content-col:first-child {
    flex: 0 1 33%;
}

.footer__content-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer__content-logo {
    flex: 0 0 125px;
}

.footer__content-logo img{
    max-width: 100%;
    height: auto;
}

.copyring-text {
    color: var(--white);
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    /* margin: 0px 0px 29px 0px; */
}

.footer__content-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.footer__content-list li {
    /* margin: 29px 0px 0px 0px; */
}

.footer__content-link {
    display: block;
    color: var(--white);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.footer__content-link:hover {
    text-decoration: underline;
}

.footer__content-link:active {
    color: var(--green);
}

.footer__content-link:focus {
    outline: 2px solid var(--green);
    color: var(--green);
}


.footer__socials {
    flex: 0 1 auto;
    padding: 0 20px;
}

.footer__socials-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer__socials-list li {
    margin: 0px 10px 0px 10px;
}

.footer__socials-list li:last-child {
    margin-right: 0px;
}

.footer__socials-link {
    display: flex;
    padding: 7px;
    background-color: var(--white);
    color: var(--white);
    transition: all 0.3s ease 0s;
}

.footer__socials-link:hover {
    background-color: var(--light-grey);
    transform: scale(1.1);
}

.footer__socials-link:active {
    transform: scale(0.9);
    transition: all 0.3s ease 0s;
}

.footer__socials-link:focus {
    background-color: var(--green);
    
}

.footer__socials-link img{
    flex: 0 0 20px;
    height: 20px;
}

@media (max-width: 767px) {
    body.lock{
        overflow: hidden;
    }
    .header__body{
        height: 60px;
    }
    .header__logo{
        flex: 0 0 55px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: var(--white);
        left: 0px;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: var(--white);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before{
        top: 0px;
    }
    .header__burger::after{
        bottom: 0px;
    }
    .header__burger.active span{
        transform: scale(0);

    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu-wrapper{
        position: fixed;
        top: -100%;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: var(--black-regular);
        padding: 60% 10px 20px 10px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .header__menu-wrapper{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    .header__menu-wrapper.active{
        top: 0px;
    }
    .header__list{
        display: block;
    }

    .header__list li{
        margin: 50px 0px 50px 0px;
    }
    .header__link{
        font-size: 24px;
    }

    .main {
        padding: 70px 0px 0px 0px;
    }

    .record {
        text-align: center;
    }

    .wave {
        margin-bottom: 70px;
    }

    .wave__block {
        margin-bottom: 30px;
    }

    .wave__row {
        flex-direction: column;
    }

    .wave__image {
        margin-bottom: 30px;
        text-align: center;
    }

    .wave__content {
        text-align: justify;
    }

    .wave__content-footer {
        display: flex;
        justify-content: center;
    }

    .scroll__text {
        font-size: 50px;
        line-height: 60px;
    }

    .artists {
        margin-bottom: 70px;
    }
    
    .artists__col {
        margin-bottom: 30px;
    }

    .story {
        margin: 0px 0px 70px;
    }

    .tab-content {
        padding: 20px 10px 20px 10px;
    }

    .tab-option__row {
        flex-direction: column;
        margin: 0px;
    }

    .tab-option__content {
        padding: 10px 20px;
    }

    .tab-content {
        padding: 0px;
        max-height: 450px;
        overflow: auto;
    }
 
    .tab-option__image {
        display: none;
    }

    .tabs-wrapper {
        margin-bottom: 70px;
    }

    .story__title {
        text-align: center;
    }

    .roadmap {
        background-image: none;
    }

    .roadmap__col {
        margin: 30px 0px;
    }

    .roadmap__col:not(:last-child):before {
        bottom: -30px;
    }

    .roadmap__col-body {
        padding: 10px 13px 20px;
    }

    .roadmap__col-content {
        margin: 0px 10px 20px 0px;
    }

    .questions {
        margin-top: 70px;
    }

    .questions__block {
        margin: 0px 0px 70px;
    }

    .questions__row {
        align-items: center;
        flex-direction: column;
    }

    .roadmap__footer {
        margin-top: 50px;
    }

    .questions__content {
        align-items: center;
        margin: 0px 0px 50px 0px;
    }

    .questions__spoiler {
        width: 100%;
    }

    .spoiler-block__text {
        text-align: justify;
    }

    .team__row {
        flex-direction: column;
        align-items: center;
    }

    .team__col {
        min-width: 320px;
        margin: 0px 0px 50px 0px;
    }

    .discord {
        margin-top: 70px;
    }

    .discord__row {
        flex-direction: column;
    }

    .discord__content {
        text-align: center;
        max-width: 100%;
        margin: 0px 0px 50px 0px;
    }

    .discord__image img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .footer {
        padding: 60px 0px 70px;
    }

    .footer__row {
        flex-direction: column;
        align-items: center;
    }

    .footer__content-row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__content-col {
        margin-bottom: 20px;
    }

    .footer__content-list li {
        margin-bottom: 20px;
    }

    .footer__content-col li:last-child {
        margin-bottom: 0px;
    }

    .footer__content-logo {
        flex: 0 0 55px;
    }

    .footer__socials-list li:last-child {
        margin-right: 10px;
    }

    .roadmap__col-body {
        flex-direction: column;
    }
}

@media (min-width: 767px) {
    .record {
        display: flex;
    }

    .record__image {
        position: relative;
        flex: 0 0 calc(((100vw - 20px) * 0.6) + 10px);
        padding: 22% 0px 22% 0px;
        transform: translate(-100%, 0px);
    }

    .record__image img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        object-fit: cover;
    }

    .record__body {
        width: 40%;
        padding: 150px 20px 70px 0px;
    }

}

@media (min-width: 1180px) {
    .record__image {
        flex: 0 0 calc(50vw - (0.4 - 0.5) * 1180px);
    }

}


