/*normalize css*/
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  /*--------------------------*/

body{
    height: 100%;
    font-family: 'DM Mono', monospace;
    font-weight: 400;
    /* font-family: 'Audiowide', cursive;
    font-family: 'Inter', sans-serif; */
}

:root{
    --black-main: #181818;
    --black-regular: #000000;
    --white: #FFFFFF;
    --green: #8DFD1B;
    --grey: #A8A8A8;
    --light-grey: #C4C4C4;
    --purple: #42006A;
}

/* .wrapper {} */
.container {
    max-width: 1180px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 10px;
}
.header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 50;
    
}
.header:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: var(--black-main);
    z-index: 2;
}
.header__body {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    flex: 0 0 85px;
    /* border-radius: 50%; */
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.header__logo img{
    max-width: 100%;
    display: block;

}

.header__burger {
    display: none;
}

.header__menu-wrapper{
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
}

.header__menu {}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li{
    list-style: none;
    margin: 0px 0px 0px 20px;
}

.header__link {
    text-transform: capitalize;
    font-size: 16px;
    text-decoration: none;
    color: var(--white);
}

.header__socials{

} 
.header__socials-list{
    display: flex;
    position: relative;
    z-index: 2;
} 

.header__socials-list li{
    list-style: none;
    margin: 0px 0px 0px 20px;
}
.header__socials-link {
    display: flex;
    padding: 7px;
    background-color: var(--white);
    color: var(--white);
}

.header__socials-link img{
    flex: 0 0 20px;
    height: 20px;
}

.main {
    padding: 110px 0px 0px 0px;
}

.section {
    overflow: hidden;

}
.section__content {
    flex: 0 0 100%;
}
.section__container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
    display: flex;
    align-items: center;

}
.section__body {
    width: 40%;
    padding: 50px 0px 50px 0px;
}
.section__title {

}
.section__text {

}
.section__link {

}
.section__image {

}

.section__image img {
    max-width: 100%;
}


@media (max-width: 767px) {
    body.lock{
        overflow: hidden;
    }
    .header__body{
        height: 60px;
    }
    .header__logo{
        flex: 0 0 55px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: var(--white);
        left: 0px;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: var(--white);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before{
        top: 0px;
    }
    .header__burger::after{
        bottom: 0px;
    }
    .header__burger.active span{
        transform: scale(0);

    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu-wrapper{
        position: fixed;
        top: -100%;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: var(--black-regular);
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .header__menu-wrapper{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    .header__menu-wrapper.active{
        top: 0px;
    }
    .header__list{
        display: block;
    }

    .header__list li{
        margin: 50px 0px 50px 0px;
    }
    .header__link{
        font-size: 24px;
    }

    .main {
        padding: 70px 0px 0px 0px;
    }
}

@media (min-width: 767px) {
    .section {
        display: flex;
    }

    .section__image {
        position: relative;
        flex: 0 0 calc(((100vw - 20px) * 0.6) + 10px);
        padding: 0px 0px 43% 0px;
        transform: translate(-100%, 0px);
    }

    .section__image img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        object-fit: cover;
    }

    .section__body {
        width: 40%;
        padding: 50px 20px 50px 0px;
    }
}

@media (min-width: 1180px) {
    .section__image {
        /* flex: 0 0 calc(100vw - (((100vw - 1180px) / 2) + ((1180px - 20px) * 0.4) + 10px)); */
    }

}


